.hintMarker{
    display: flex;
    width: 5vw;
    height: 5vw;
    position: relative;
    border-radius: 90px;
    align-items: center;
    justify-content: center;

    opacity: 0;
    background-color: rgb(255, 255, 255);
    transition: ease-in-out 0.3s;
}

.hintMarker:hover{
    opacity: 0.5;
    transition: ease-in-out 0.3s;
}

.hintMarker a{
    width: fit-content;
    height: auto;
}

.markerBackground{
    margin: 0px;
    padding: 0px;
}


@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 520px) {
}