.hintMarker{
    width: 5vw;
    height: 5vw;
    position: relative;
    border-radius: 90px;

    opacity: 1;
    background-color: rgb(179, 147, 147);
    transition: ease-in-out 0.3s;
}

.hintMarker:hover{
    opacity: 0.65;
    transition: ease-in-out 0.3s;
}

.hintMarker a{
    width: fit-content;
    height: auto;
}


@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 520px) {
}