.iconholder {
  position: absolute;
  width: fit-content;
  top: 15vw;
  right: 5vw;
}

@media only screen and (max-width: 800px) {
  .iconholder {
    position: relative;
    display: flex;
    top: 0px;
    right: 0px;
  }
}

@media only screen and (max-width: 520px) {
  .iconholder {
    position: relative;
    display: flex;
    top: 0px;
    right: 0px;
  }
}
