.iconholder {
  position: absolute;
  width: fit-content;
  top: 0;
  right: 5vw;
}

@media only screen and (max-width: 800px) {
  .iconholder {
    position: relative;
    display: flex;
    right: 0px;
  }
}

@media only screen and (max-width: 520px) {
  .iconholder {
    position: relative;
    display: flex;
    right: 0px;
  }
}
