.room {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowImageContainer {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.arrowImg {
  width: 8rem;
  transition: ease-in-out 0.3s;
}

.roomImg {
  width: 65vw;
}

@media only screen and (max-width: 800px) {
  .room h1 {
    font-size: larger;
  }

  .arrowImg {
    width: 12vw;
  }
}

@media only screen and (max-width: 520px) {
  .room h1 {
    font-size: large;
  }

  .arrowImg {
    width: 12vw;
  }
}
