.room {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room h2 {
  padding: 1vw;
  color: black;
  background-color: white;
}

.arrowImageContainer {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.arrowImg {
  width: 8rem;
  transition: ease-in-out 0.3s;
}

.roomImg {
  width: 65vw;
}

.downButtonSegment {
  display: flex;
  margin-bottom: 4vw;
}

.downButtonSegment button{
  position: absolute;
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 2vw;
}

@media only screen and (max-width: 800px) {
  .room h1 {
    font-size: larger;
  }

  .arrowImg {
    width: 12vw;
  }


  .downButtonSegment button{
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 1vw;
  }
}

@media only screen and (max-width: 520px) {
  .room h1 {
    font-size: large;
  }

  .arrowImg {
    width: 12vw;
  }

  .downButtonSegment {
    display: flex;
    margin-bottom: 4vw;
  }

  .downButtonSegment button{
    position: relative;
    font-size: small;
    margin-left: 8vw;
    margin-right: 8vw;
    padding: 1vw;
  }
}
